.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {

height: 100%;
max-height: 100%;

width: 100%;
    }


#myCarousel-copy{
  height: 80%;
margin-bottom: 49px;
padding: 0px;
}

.navbar{
	margin-bottom: 0px;
	background-color: #3f869b;
}

.row-carosel{
	padding: 20px;
}

.navbar-default {
    background-color: #3f869b;
    border-color: #e7e7e7;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	background-color: #3f869b;
    border-color: #e7e7e7;
    color: white;
}
.navbar-default .navbar-brand{
	color:white;
}

.navbar-default .navbar-nav > li > a{
	color: white;
}
.copyright-footer{
	text-align: center;
	background-color: #eef8fb;
}

body{
	background-color: #eef8fb;
}

body,input{
  font-family: 'Catamaran', sans-serif;
}

.copy{
	width: 100%;
}

.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
}

.login-form{
  background-color: #eef8fb;
  padding:15px;
  border-style: solid;
  border-width: 1px;
  border-color: silver;
  border-radius: 20px;
  margin-bottom: 15px;
  width: 30%;
  position: relative;
  margin-left: 32%;
  margin-top: 5%;
}

.info{
 /* border-style: solid;
  border-width: 1px;
  border-color: silver;*/
  border-radius: 20px;
}
.form-group{
	margin-left: 20%;
}

.dugme-prijava{
    margin-top: 10px;
	width: 60%;
}

.dugme-registracija{
	margin-left: 20%;
	width:53%;
}

h4{
	/*background-color: mintcream;
*/}

 .tabela {

        /*border-collapse: separate;
        border-spacing: 3px;*/
        width: 100%;


    }


    .tabela tr {
       /* background-color: gainsboro;*/


    }

    .tabela tr td {
      /*  background-color: lightgray;
        border-radius: 10px;*/
      /*  padding: 30px 20px;*/

    }

   

    td{
      text-align: center;
    }

     .fl1 {
        margin-left: 85.42%;
    }

    .fl2 {
        margin-left:  84.7%;
    }
    .fl3 {
        margin-left:  90.4%;
    }

    .priority-class{
      /*
      padding-left: 58px;
      border-radius: 11px;
      padding-right: 54px;
      padding-top: 5px;
      padding-bottom: 5px;*/
      padding: 5px 15px;
      border-radius: 7px;
    }


    .department-class{
      padding-left: 0%;
      border-radius: 11px;
      padding-right: 5%;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .status-class{/*
      padding-left: 58px;
      border-radius: 11px;
      padding-right: 54px;
      padding-top: 5px;
      padding-bottom: 5px;*/
    /*  padding: 10px 15px;*/
      display: block;

    }

    .priority-class[value="5"]{
      background-color: #ed0404;
    }

    .priority-class[value="4"]{
      background-color: #f45c42;
    }

    .priority-class[value="3"]{
      background-color: #e88a10;
    }

    .priority-class[value="2"]{
      background-color: #d8c922;
    }

    .priority-class[value="1"]{
      background-color: #fff95e;
    }

    .priority-class[value="0"]{
      background-color: #44938b;
      color: white;
    }



    .department-class[value="Incident management"]{
      background-color: #46b8da;
    }

    .department-class[value="Problem management"]{
      background-color: pink;
      padding-right: 1%;
    }

    .department-class[value="Request fulfillment"]{
      background-color: violet;
      padding-right:20%;
    }
/*

    .status-class[value="Nerijesen"]{
      background-color: #f44336;
    }

    .status-class[value="Zatvoren"]{
      background-color: green;
    }

    .status-class[value="Popravljen"]{
      background-color: #46b8da;
    }

    .status-class[value="U obradi"]{
      background-color: orange;
    }

    .status-class[value="Odbijen"]{
      background-color: gray;
    }

    .status-class[value="Odobren"]{
      background-color: yellow;
    }

    .status-class[value="Otkazan"]{
      background-color: black;
    }*/

.chart{
  width: 250px;
  height: 250px;
}

th{
  text-align: center;
  padding: 0px 5px;
  border-radius: 7px;
}

th[colspan="8"]{
  padding: 0px;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

input{
  background-color:  mintcream;
  border-radius: 7px;
}

.skrolaj{
  overflow-y: scroll;
  max-height: 500px;
   box-shadow: 0px 0px 2px black;
    margin-top: 3px;
}

.naslov-tabele{
  background-color: #3f869b;
  color:white;
}

.naziv-u-tabeli{
   text-align: left;
   height: 50px;
}

.filter-red{
  padding: 6px;
}

.btn-primary{
  background-color: #3f869b;
}

.filter-opcija{
  background-color: #3f869b;
  color:white;
}

.amarove-ikone{
  background-color: #3f869b;
  border-radius: 50%;
  padding: 12px;
}

.usluge{
  margin-left: 62px;
  margin-right: 62px;
  margin-top: 50px;
}

#glyphiconMargin1, #glyphiconMargin2, #glyphiconMargin3{
    margin:6px;
}


.input-beauty{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.text-beauty{
    font-weight: 500;
    font-weight: bold;
}

.div-beauty{
    display: flex;
    margin: 20px;
    padding-bottom: 20px;
}

.button-beauty-submit{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin: 10px;
}

.tabela-dataa{
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    margin: auto;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

.tabela-tr-data{
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
    text-shadow:0 1px 1px rgba(255, 255, 255, 0.1);
}

.div-container-beauty{
    background: #FFFFFF;
    padding: 45px;
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.container{
    width: 100%;
}

.row-beauty{
    margin-left: 0;
    margin-right: 0;
    height: 50px;
    display: flex;

}