<div class="form">
   <div ng-init="prikazi('svizahtjevi')">
      <div class=" usluge skrolaj">
         <table class=" tabela">
            <thead>
               <tr class="naslov-tabele" style="height: 50px;">
                  <th colspan="6" class="naziv-u-tabeli">
                     <b>Pregled zahtjeva</b>
                  </th>
               </tr>
               <tr style="border-bottom: 2px solid white;">
                  <th class="filter-red" style="width:40%" colspan="2"><b>Naziv zahtjeva</b></th>
                  <th class="filter-red" style="width:40%"><b>Status</b></th>
                  <th style="width:20%"></th>
               </tr>
            </thead>
            <tbody ng-repeat="zahtjev in zahtjevi" ng-switch on="isSelReq(zahtjev)">
               <tr ng-class="{sel:selIdxZ==$index}" >
                  <td colspan="2">{{zahtjev.title}}</td>
                  <td >{{zahtjev.status.status}}</td>
                  <td><input class="btn btn-primary" type="submit" style="background-color:#3f869b;" ng-value="!isSelReq(zahtjev)? 'Prikazi odgovore' : 'Sakrij odgovore'"
                     ng-click="selectRequest(zahtjev,$index)"/></td>
               </tr>
               <tr ng-switch-when="true" style="background-color:#3f869b; height:2px">
                  <td colspan="5"></td>
               </tr>
               <tr ng-switch-when="true" ng-click="selectRequest(zahtjev,$index)">
                  <td style="font-size: 15px; text-align: left;" colspan="4"><br>&nbsp;&nbsp;&nbsp;<b>Opis zahtjeva:</b> {{zahtjev.description}}</td>
               </tr>
               <tr ng-switch-when="true" ng-show="imaOdgovorZ" ng-click="selectRequest(zahtjev,$index)">
                  <td style="font-size: 15px; text-align: left;" colspan="4"><br>&nbsp;&nbsp;&nbsp;<b>Odgovori na zahtjev:</b> </td>
               </tr>
               <tr ng-switch-when="true" ng-show="imaOdgovorZ" ng-click="selectRequest(zahtjev,$index)">
                  <td style="font-size: 15px; font-weight: bold; text-align: center;" colspan="1">Autor</td>
                  <td style="font-size: 15px; font-weight: bold; text-align: center;" colspan="2">Odgovor</td>
                  <td style="font-size: 15px; font-weight: bold; text-align: center;" colspan="1">Datum</td>
               </tr>
               <tr ng-switch-when="true" ng-repeat="answer in answers2" ng-click="selectRequest(zahtjev,$index)">
                  <td style="font-size: 15px; text-align: center;" colspan="1">{{answer.autor.username}}</td>
                  <td style="font-size: 15px; text-align: center;" colspan="2">{{answer.text}}</td>
                  <td style="font-size: 15px; text-align: center;" colspan="1">{{answer.datumPrijave.day}}.{{answer.datumPrijave.month}}.{{answer.datumPrijave.year}}.godine
                     {{answer.datumPrijave.hours}}:{{answer.datumPrijave.minutes}}:{{answer.datumPrijave.seconds}} sati
                  </td>
               </tr>
               <tr ng-switch-when="true" ng-show="!imaOdgovorZ" ng-click="selectRequest(zahtjev,$index)">
                  <td colspan="4" style="font-size: 15px; text-align: left;"><br>&nbsp;&nbsp;&nbsp;<b>Ovaj zahtjev nema odgovora.</b></td>
               </tr>
               <tr ng-switch-when="true"  ng-hide="zahtjev.status.status=='Rijesen'" style="height: 30px;" ng-click="selectRequest(zahtjev,$index)">
                  <td colspan="4" style="font-size: 15px; text-align: left;"><br>&nbsp;&nbsp;&nbsp;<b>Dodaj odgovor:</b></td>
               </tr>
               <tr ng-switch-when="true"  ng-hide="zahtjev.status.status=='Rijesen'" style="height: 48px;">
                  <td style="font-size: 15px; vertical-align:bottom; text-align: left;" colspan="3"> <br>
                     <input type="text" name="noviOdgovorZahtjev" ng-model="noviOdgovorZahtjev" style="width: 98%; vertical-align:bottom; margin-left: 1%; margin-right:1%">
                  </td>
                  <td colspan="1"><button class="dugme-prijava"  ng-hide="zahtjev.status.status=='Rijesen'" style="height:100%; margin-bottom:3%; width: 100%;" colspan="1" ng-click="dodajOdgovorNaZahtjev(noviOdgovorZahtjev)">Odgovori</button></td>
                  </td>
               </tr>
               <tr ng-switch-when="true"  ng-hide="zahtjev.status.status=='Rijesen'" style="height: 50px;">
                  <td colspan="3"></td>
                  <td style="valign:middle;" colspan="1"><br><button class="btn btn-danger dugme-prijava" style="background: #bf5230;" ng-click="rijesiZahtjev()" class="glyphicon glyphicon-ok">Oznaci kao rijesen</button>
                     <br><br>
                  </td>
               </tr>
               <tr ng-switch-when="true" style="background-color:#3f869b; height:2px">
                  <td colspan="5"></td>
               </tr>
               <tr>
                  <td><br></td>
               </tr>
            </tbody>
         </table>
         </div>
         <div class="row form">
            <span class="col-md-6"><button style="text-align:center; margin-left:50%;" type="submit" value="Predaj novi zahtjev" ng-click="prikazi('prijavaUsluge')" class="btn btn-danger dugme-prijava" style="height:40px; margin-left:50%; margin-top:3%; width: 100%;">Prijavi novi zahtjev</button>
            </span>
         </div>
      
   </div>
   <br><br>
   <div class="container row" ng-show="prikaz=='prijavaUsluge'">
      <form class="col-md-12 col-lg-12 col-sm-12 form" style="background: #FFFFFF;box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);" ng-submit="prijaviZahtjevZaUslugom()" name="reqform" class="forma">
         <p style="color: red;">{{errorMsg}}</p>

         <div class="form-group" style="margin-left: 10%; margin-right: 10%;">
            <label>Naziv zahtjeva:</label><br>
            <input type="text" placeholder="Naziv" ng-model="request.title" name="address" class="address"
            ng-minlength="3"  required/>
         </div>
         <div class="form-group" style="margin-left: 10%; margin-right: 10%;">
            <label>Opis:</label><br>
            <input type="text" placeholder="Opis" ng-model="request.description" name="address"
               class="address" ng-minlength="3"  required/>
         </div>
         <div class="form-group" style="margin-left: 10%; margin-right: 10%;">
            <label>O statusu zahtjeva obavijestiti putem: </label>
            <label style="width: 20%; padding:0px; margin: 0px; font-weight: normal;">Emaila <input type="radio" ng-model="request.contact_method"
               value="email" style="width: 20%; padding:0px; margin: 0px;"/>
            </label>
            <label style="width: 20%; padding:0px; margin: 0px; font-weight: normal;">Telefona <input type="radio" ng-model="request.contact_method"
               value="telephone" style="width: 20%; padding:0px; margin: 0px;" />
            </label><br>
         </div>
         <div class="row">
            <button type="submit" class="btn btn-danger dugme-prijava col-md-6"
               style="width: 47%;">Evidentiraj zahtjev</button>
         
            <button type="submit" class="btn btn-info dugme-prijava col-md-6" style="width: 47%; margin-left:6%; background: #bf5230;"
               ng-click="odustani()">Odustani
            </button>
         
         </div>
      </form>
   </div>
   <br><br><br><br>
</div>


<style>
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
   .form {
   font-family: "Roboto", sans-serif;
   padding: 45px;
   text-align: left;
   }
   .form input:not([type=radio]) {
   outline: 0;
   background: #f2f2f2;
   width: 100%;
   border: 0;
   margin: 0 0 15px;
   padding: 15px;
   box-sizing: border-box;
   font-size: 14px;
   }
   .form button:hover, .form button:active, .form button:focus {
   background: #3f869b;
   }
   .form button {
   text-transform: uppercase;
   outline: 0;
   background: #3f869b;
   width: 100%;
   border: 0;
   padding: 15px;
   color: #FFFFFF;
   font-size: 14px;
   -webkit-transition: all 0.3 ease;
   transition: all 0.3 ease;
   cursor: pointer;
   }
   .form .message a {
   color: #3f869b;
   text-decoration: none;
   }
   .container:before, .container:after {
   content: "";
   display: block;
   clear: both;
   }
   .container .info h1 {
   margin: 0 0 15px;
   padding: 0;
   font-size: 36px;
   font-weight: 300;
   color: #1a1a1a;
   }
   .container .info span {
   color: #4d4d4d;
   font-size: 12px;
   }
   .container .info span a {
   color: #000000;
   text-decoration: none;
   }
   .container .info span .fa {
   color: #EF3B3A;
   }
   .container {
   width: 100%;
   }
   body {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   }
</style>	


