<div class="row" >
	<div class="col-xs-3" >

				<div class="mojProfil" ng-init="prikazi('info')">
				<span class="glyphicon glyphicon-user"></span>
				<span class="desc"> Moj profil</span>
						
				</div>
	
	</div>

	<!--krajMeni-->


	<!--viewi-->
	<div class="col-xs-9" id="userInfo">

		<div ng-show="prikaz=='info'">
			<br><br><br><br><br><br>
					<table class="userTab" id="prikazInfoa">
				<tbody>
					<tr>
						<td style="text-align: right;">Ime:</td>
						<td style="font-weight: bold; padding-left: 20px; text-align: left;">{{usercic.name}}</td>
					</tr>
					<tr>
						<td style="text-align: right;">Prezime:</td>
						<td style="font-weight: bold; padding-left: 20px; text-align: left;">{{usercic.surname}}</td>
					</tr>
					<tr>
						<td style="text-align: right;">Adresa:</td>
						<td style="font-weight: bold; padding-left: 20px; text-align: left;">{{usercic.address}}</td>
					</tr>
					<tr>
						<td style="text-align: right;">Telefon:</td>
						<td style="font-weight: bold; padding-left: 20px; text-align: left;">{{usercic.telephone}}</td>
					</tr>
					<tr>
						<td style="text-align: right;">Email:</td>
						<td style="font-weight: bold; padding-left: 20px; text-align: left;">{{usercic.email}}</td>
					</tr>
					<tr>
						<td style="text-align: right;">Username:</td>
						<td style="font-weight: bold; padding-left: 20px; text-align: left;">{{usercic.username}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	</div>